In [3]:
import pandas as pd
import numpy as np

In [5]:
# Create a series
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a   -0.649116
b    0.848033
c    1.036143
d    1.362194
e    0.053220
dtype: float64

In [6]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a   -1.369434
b   -0.241031
c   -1.247116
d   -0.275948
e    0.300242
dtype: float64

In [7]:
print(s[0])

-1.36943355807

In [8]:
print(s[:3])

a   -1.369434
b   -0.241031
c   -1.247116
dtype: float64

In [9]:
#DataFrames
df = pd.DataFrame(s, columns = ['Column 1'])
df

   Column 1
a -1.369434
b -0.241031
c -1.247116
d -0.275948
e  0.300242

In [11]:
#adicionar colunas
df['Column 2'] = df['Column 1'] * 4
df

   Column 1  Column 2
a -1.369434 -5.477734
b -0.241031 -0.964123
c -1.247116 -4.988462
d -0.275948 -1.103792
e  0.300242  1.200966

In [14]:
df.sort_values(by = 'Column 2')

   Column 1  Column 2
a -1.369434 -5.477734
c -1.247116 -4.988462
d -0.275948 -1.103792
b -0.241031 -0.964123
e  0.300242  1.200966

In [13]:
df[df['Column 2'] <=0]

   Column 1  Column 2
a -1.369434 -5.477734
b -0.241031 -0.964123
c -1.247116 -4.988462
d -0.275948 -1.103792

In [15]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.566657 -2.266629
std    0.715809  2.863237
min   -1.369434 -5.477734
25%   -1.247116 -4.988462
50%   -0.275948 -1.103792
75%   -0.241031 -0.964123
max    0.300242  1.200966